pkgbase = ovh-ttyrec-bin
	pkgdesc = Enhanced (but compatible) version of the classic ttyrec
	pkgver = 1.1.6.7
	pkgrel = 1
	url = https://github.com/ovh/ovh-ttyrec
	arch = x86_64
	license = BSD
	provides = ttyrec
	conflicts = ttyrec
	noextract = ovh-ttyrec_1.1.6.7_amd64.deb
	source = ovh-ttyrec_1.1.6.7_amd64.deb::https://github.com/ovh/ovh-ttyrec/releases/download/v1.1.6.7/ovh-ttyrec_1.1.6.7_amd64.deb
	source = LICENSE::https://raw.githubusercontent.com/ovh/ovh-ttyrec/v1.1.6.7/LICENSE
	sha256sums = 93e3a8e795c3e0942724d23bdb574509c12b603ae16bd1a9be81ef9ed62e7483
	sha256sums = 7e989e04eb9099e3be5b613a63f79744d275e26dea1392ce199e80ce3824960a

pkgname = ovh-ttyrec-bin
